<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">PcInfo</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </nav>

  <p style="margin-bottom:5px;"></p>
  <div class="alert alert-info" role="alert">
    Just a little note, We are still in beta and will be missing a few things and some things will be broken. We'll let you know once this is all sorted!
  </div>