<!DOCTYPE html>
<html lang="en">
<head>
  <title>PcInfo - About</title>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/about.css">
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <p style="margin-bottom:10px;"></p>
  <div class="row">
    <div class="col-sm-11">
      <div class="jumbotron bg-dark">
        <h1 class="text-light">So, who are you?</h1>
        <p style="margin-bottom:20px;"> </p>
        <p class="text-light">I'm Ryan and I started out with 1 simple goal. A single site to get all the information that you need! You can see GPU performance relative to other GPUs and click on their dot to get more information on them. You can input your PC specs to see what you should aim to sell it for ideally and all of that for the sweet price of free!</p>
        <p class="text-light">With that in mind, donations are much appreciated and really motivate me to keep this site going as well as pay for the upkeep. You can leave a tip <a href="https://paypal.me/frogueclan">here</a> to show your appreciation <3 </p>
      </div>
    </div>
    <div class="col-sm-11">
      <div class="jumbotron bg-dark">
        <h1 class="text-light">I found a bug, where do I report it?</h1>
        <p style="margin-bottom:20px;"> </p>
        <p class="text-light">First of all, thank you for being willing to report it and not just leaving it to affect other people or abusing it! Currently we use GitHub issues to track bugs and fix them, you can look at our current issue list <a href="https://github.com/itsnotrin/PcInfoSite/issues">here</a> to see what issues we currently have open and to make a new one! Many thanks again.</p>
      </div>
    </div>
    <div class="col-sm-11">
      <div class="jumbotron bg-dark">
        <h1 class="text-light">There's something missing</h1>
        <p style="margin-bottom:20px;"> </p>
        <p class="text-light">We try our best but sometimes we miss things, it's human! If it's something new (up to 2 weeks old), just be patient and wait and see for it to be added! Else, please make an issue over at our <a href="https://github.com/itsnotrin/PcInfoSite/issues">issue tracker</a>! </p>
      </div>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>