<!DOCTYPE html>
<html lang="en">
<head>
  <title>PcInfo - Home</title>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <!-- Beta alert, remove when the site is nearly finished / usable -->
  <p style="margin-bottom:5px;"></p>
  <div class="alert alert-info" role="alert">
    Just a little note, We are still in beta and will be missing a few things and some things will be broken. We'll let you know once this is all sorted!
  </div>


</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>